
:root {
  --black-color: #000000;
  --gray-color: #C2C8DA;
  --white-color: #FFFFFF;
  --yellow-background-color: #E6C744;
  --black-background-color: #000000;
  --grey-background-color: #C2C8DA;
  --lightgray-background-color:#F4F6F5;
}
/* CSS */
.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;

}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}

  body{
    font-family: "poppins", sans-serif; 
      margin: 0;
      font-family: sans-serif;
      line-height: 1.5;
      background-color: #f9f9fd;
  }
  .header,
.CATALOGUE,
.FASHION,
.FAVOURITE,
 .LIFESTYLE{
  color: var(--black-color);
  font-size: 22px; /* Розмір шрифту */
  font-weight: 500;
  text-indent: 50px;
  text-decoration: none;
}

    .container {
      width: 1720px;
      margin: 0 auto;
      padding:  15px 0;
      box-sizing: border-box;
    }

  .header {
    padding: 24px 25px;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .headerlu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
  }
  .logo,
  .headerli {
    color: var(--black-color);
  font-size: 22px; /* Розмір шрифту */
  font-weight: 500;
  }
  .smuga {
    background-color: var(--yellow-background-color);
  }
  .dvvv {
    display: flex;
    background-color: var(--lightgray-background-color);
  }

.dav {
  width: 666.39px;
height: 684.76px;
}
.diiiv{
  padding-left: 119px;
  
}

.efectin-solushns {
  height: 900px;
}
.dq{
  display: flex;
}
.hd{
font-size: 96px; /* Розмір шрифту */
  font-weight: 474;
  width: 474px;
}
.pd{
  font-size: 32px;
}
.zagolovok {
  font-size: 48px;
}
.h3{
  font-size: 32px;
}
.p{
  font-size: 24px;
}
.as {
  display: flex;
}
.ass{
  display: flex;
}
.xd {
  font-size: 111.61px;
}
.tt {
  font-size: 36.04px;
}
.tr {
  font-size: 36.04px;
  width: 700;
}
.ho{
  font-size: 55px;
}
.hi {
font-size: 32px;
}

.ww {
  font-size: 48px;
}
.yy{
font-size: 24px;
}
.strilka {
  margin-left: auto;
}
  .form {	
      width: 460px;
      background: #fff;
      color: input-text-color;
      font: inherit;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
      border: 0;
      outline: 0;
      padding: 22px 18px;
      border-radius: 5px;
      margin-left: auto;
    margin-right: auto;
    }
    .form__field{
      font-size: 24px;
    }
    .btn {
      background-color: var(--black-background-color);
      color: var(--white-color);
      font-size: 33px;
    }
.sectisimg {
 width: 50%;

}
.efectin-solushns .contener {
display: flex;
}
.sect  {
  background:  linear-gradient(to right, #ecd678, #E6C744);

}
.dyv {
  display: flex;
}
.diiv {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.dev > * {
  width: 50%;
}
.dev {
display: flex;
align-items: center;
justify-content: space-between;
}
.dax {
  display: flex;
}
.sectisfigcaption-gradient {
  margin-left: 24px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.itemli {
display: flex;
flex-wrap: wrap;
gap: 30px;
padding: 0;
list-style: none;
}
.buttin-hover {
  border: 0px;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;  
}
.sectisim {
  
}
.JOIN-SHOPPING {
  background-color: var(--yellow-background-color);
  color: var(--white-color);
  text-align: center
}
.footer {
  background-color: var(--black-background-color);

}
.h2 {
  color: var(--white-color);
}
.text {
  color: var(--gray-color);
  list-style-type: none;
  margin: left;
}

.dext {
  display: flex;
  justify-content: space-between;
  margin: left;
}